/* .banner-register{

} */
.Topic{
    font-size: 6.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-data div {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .input-firstname{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.input-lastname{
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin-bottom: 20px;
    border-radius: 1em;
}

.signup-btn{
    padding: 20px;
    background: lightgrey;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4DFDF;
    padding: 5px;
    margin-left: 40%;
    margin-right: 40%;
}

.signup-btn:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #ACBCFF;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
}
.signup-btn:hover{
    color: #AEE2FF;
}
.signup-btn:hover:before {
    transform: scaleX(1);
}