.popup{
    position: fixed;
    top: 0;
    left: 35%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
}

.popup-inner .close-btn{
    position: absolute;
    top: 10px;
    right: 16px;
}
.popup-inner .close-btn:hover{
    border-radius: 1em;
    background-color: black;
    color: white;
    transition: 0.5s;
}
.gotoLogin-btn{
    display: flex;
    background-color: red;
}